<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   		 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
   		 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
   		 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan base-package="minesweeper" />
	<context:component-scan base-package="fifteenPuzle" />

	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="entityManagerFactory">
		<property name="persistenceUnitName" value="hibernatePersistenceUnit" />
	</bean>

	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />


	<bean id="minesField" class="minesweeper.core.MineField">
		<constructor-arg type="int" value="9" />
		<constructor-arg type="int" value="9" />
		<constructor-arg type="int" value="1" />
	</bean>

	<bean id="puzzleField" class="slidingPuzzle.core.PuzzleField">
		<constructor-arg type="int" value="3" />
		<constructor-arg type="int" value="3" />
	</bean>


	<bean id="hallOfFameDTBMines" class="GameStudio.score.HallOfFameHibernate">
		<constructor-arg value="Minesweeper" />
	</bean>
	<bean id="hallOfFameDTBPuzzle" class="GameStudio.score.HallOfFameHibernate">
		<constructor-arg value="Puzzle" />
	</bean>


	<bean id="minesConsole" class="minesweeper.consoleui.MineConsoleUI">
		<constructor-arg ref="minesField" />
		<property name="hallOfFame" ref="hallOfFameDTBMines" />

	</bean>

	<bean id="puzzleConsole" class="slidingPuzzle.consoleui.PuzzleConsoleUI">
		<constructor-arg ref="puzzleField" />
		<property name="hallOfFame" ref="hallOfFameDTBPuzzle" />
	</bean>


	<bean id="gameStudio" class="GameStudio.main.GameStudio">
		<property name="mui" ref="minesConsole" />
		<property name="pui" ref="puzzleConsole" />
	</bean>

</beans>